<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.srdz.dao.EErrorsMapper">
	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.srdz.entity.EErrors">
		<id column="LogId" property="logid" />
		<result column="ClassName" property="classname"  />
		<result column="Msg" property="msg"  />
		<result column="CreateTime" property="createtime"  />
	</resultMap>
</mapper>